<div class="et_pb_section et_pb_section_7_tb_body et_pb_with_background et_section_regular">
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_17_tb_body">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_24_tb_body  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_16_tb_body  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><p>YOUR LOCAL CONCIERGE TEAM</p></div>
			</div><div class="et_pb_module et_pb_text et_pb_text_17_tb_body  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h6>Why Cabo Luxury?</h6></div>
			</div><div class="et_pb_module et_pb_text et_pb_text_18_tb_body  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><p>Shouldn't your vacation be as unique as you? We think so. We love finding ways to personalize every vacation we plan. Our greatest satisfaction comes from providing unmatched services and truly customized trips using our insider knowledge of the area. Our on-the-ground experts are with you every step of the way, before, during, and after your stay, making sure that you are having the time of your life. You've waited a long time for this vacation, so you deserve to have it be everything you've ever imagined and more.</p></div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div>